DirectoryIndex index.html 

RewriteEngine On
RewriteRule ^posts/node-([0-9]*) http://blog.johanv.org/posts/old/node-$1.html [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)\.html$ /$1 [L,R=301] 

